name: MLflow CI

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  train-log:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow pandas scikit-learn

    - name: Run MLflow training script
      working-directory: MLProject
      run: python modelling.py

    - name: Skip committing MLflow artifacts (file too large for GitHub)
      run: |
        echo "Skipping commit & push of MLflow artifacts because models exceed GitHub file size limit."

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
