name: MLflow CI

on:
  push:
    branches:
      - main
    paths:
      - 'MLProject/**'
      - '.github/workflows/**'
  workflow_dispatch:

jobs:
  train-log:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install mlflow pandas scikit-learn

    - name: Run MLflow training script
      working-directory: MLProject
      run: python modelling.py

    - name: Locate MLflow artifacts
      id: find_artifact
      run: |
        ART_PATH=$(find . -type d -path "*mlruns*/artifacts/model" | sort -r | head -n 1)
        echo "ARTIFACT_PATH=$ART_PATH" >> $GITHUB_ENV
        echo "Found MLflow artifact folder:"
        echo "$ART_PATH"

    - name: Upload MLflow model artifact
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-model
        path: ${{ env.ARTIFACT_PATH }}/
        if-no-files-found: error
